*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 100%;
    width: 1140px;
    margin: 0 auto ;
}
nav{
    background: #000000;
    padding: 14px 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color:#ffffff;
    font-size:40px;
    line-height:48px;
    font-weight: 700;
}
.logo:hover{
    color: red;
}
header ul{
    display: flex;
    gap: 75px;
}
header ul a{
    color:#ffffff;
    font-size: 25px;
    line-height: 30px;
}

.header-content{
    height: 850px;
    background: url(/images/3.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content h1{
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 150px;
}
.header-content a{
    background: #ffffff;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    color: #000000;
    padding: 10px 24px;
    transition: background 500ms, color 500ms;
}
.header-content a:hover{
    background: black;
    color: white;
}

.main-top{
    background: #0E1C25;
    padding-top: 30px;
    padding-bottom: 110px;
}
.main-top h2{
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 47px;
}
.main-top-container{
    display: flex;
    gap: 106px;
}
.main-top-right h3{
    color: #ffffff;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 62px;
}
.main-top-right p{
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 427px;
}
.main-bottom{
    background: rgb(92, 107, 129);
    padding-top: 43px;
    padding-bottom: 70px;
}
.main-bottom h2{
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 60px;
}
.main-bottom-item{
    border-radius: 10px;
    background: rgb(177, 43, 6);
    width: 310px;
    padding: 15px 15px 27px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.main-bottom-item img{
    border-radius: 10px;

}
.main-bottom-item h3{
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
}
.main-bottom-item p{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-weight: 700px;
    line-height: 17px;
}
.main-bottom-item a{
    background: #ffffff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 8px 22px;
    transition: background 500ms, color 500ms;
}
.main-bottom-item a:hover{
    background: #000000;
    color: #ffffff;
}
.main-bottom-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 30px;
}
footer{
    background: #000000;
    padding-top: 46px;
    padding-bottom: 62px;
}
footer h3{
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    margin-bottom: 34px;
}
.footer-images{
    display: flex;
    justify-content: space-between;
}